body{
/* background-color: rgba(0, 36, 52, 1); */
}


/* other colors to use:
color:#E9C9DC
#FA5C35
#A4AC8C
#A4AC84 */

nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 1% 0;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.HomePage {
  /* background-image: URL('../src/assets/cool-background.png');
/* background-position: center center; */
  /* background-size: cover;
  background-repeat: no-repeat; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  /* border: 1vw inset #D4D2AA; */
  width: 80%;
  margin: 2% 10%;

}

.HomePage img {
  width:40%;
  height: auto;
  margin: 0 30%;
}

  h1 {
    text-align: center;
  }

  .homePageButtons {
    display: flex;
    justify-content: space-evenly;

  }

  .homePageButtons button{
   padding: 0.5vw 1vw;
  }

  .addCityPage {
    display:flex;
    flex-direction: column;
   width:80%;
   margin: 0 10%;

  }

  .addCityPage label{
margin-right:2%;    
text-align: left;
font-size:2vw;
  }

/* for first input */
  .addCityPage input{
    width: 25%;
    height: 2vw;
    margin: 1vw 0;
    font-size: 2vw;
  } 

  .addCityPage select{
    width: 7%;
    height: 2vw;
    margin: 1vw 0;
    font-size: 1.8vw;
    /* text-align:center; */
  } 


  .addCityPage textarea {
    margin: 1vw 0;
    font-size: 2vw;
  }

  /* for second input:
  .addCityPage input{
    width: 25%;
    height: 5vw;
  } */

  .addCityPage button{
    padding: 0.5vw 1vw;
    width:10%;
    margin:2% 45%;
  }





  .SignUpPage {
    display:flex;
    flex-direction: column;
   width:80%;
   margin: 0 10%;

  }

  .SignUpPage input{
    width: 25%;
    height: 2vw;
    margin: 1vw 0;
    font-size: 2vw;
  } 

  
  .SignUpPage label{
    margin-right:2%;    
    text-align: left;
    font-size:2vw;
      }

      .SignUpPage button{
        margin-top: 2%;
      }



  .errorPage {
    display:flex;
    flex-direction: column;
  }

  .errorPage img {
width:50%;
margin: 0 25%;
  }

  .allCities {
    width: 80%;
    margin: 2% 10%;
    justify-content: center;
  }

  .cityDetails {
    width:80%;
    margin: 2% 10%;
    display:flex;
    flex-direction: column;
  }

  .cityDetails button{
    padding: 0.5vw 1vw;
    width:10%;
    margin:2% 45%;
  }

  .googleMap {
    width: 50%;
    height: 500px;
    margin: 2% 25%;
    border-bottom: 1px solid black;
  }

  .userProfile {

  display:flex;
  width: 80%;
  margin: 2% 10%;

  }

  .userProfileRight {
    display:flex;
    flex-direction: column;
  }