body {
  background-color: #8FBDD3;
}

input {
  background-color: #E4D1B9;
}

textarea {
  background-color: #E4D1B9;

}

h1 {
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: "Reenie Beanie", cursive;
  background-color: #E4D1B9;
}

a,
p,
h2,
h3,
h4,
h5 {
  font-family: "Public Sans", sans-serif;
}

.basic {
  width: 80%;
  margin: 2% 10%;
  text-align: center;
}

.basic ul {
  text-align: left;
}

.basic img {
  width: 50%;
  height: auto;
  margin: 0 25%;
}

.aboutUsBar {
  background-color: #a97155;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  justify-content: left;
  width: 25%;
}

.leftSide a {
  margin: 1% 5%;
  text-decoration: none;
  color: #8fbdd3;
}

.rightSide img {
  width: 2vw;
  margin: 1% 5%;
}

.rightSide {
  display: flex;
  justify-content: right;
  width: 25%;
}

nav {
  background-color: #E4D1B9;
  margin: 0;
  align-items: center;
}

nav img {
  width: 35px;
  /* margin: 1% 0; */
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 2%;
}

.titleDiv {
display:flex;
width:100%;
height:10vw;
margin: 0;
align-items: center;
justify-content: center;
background-color: #BE8C63;
}

.titleDiv h1{
  text-shadow: -1px 0 #E4D1B9, 0 1px #E4D1B9, 1px 0 #A97155, 0 -1px #A97155;
  /* width:100%; */
margin:0;
font-size: 8vw;
text-align: center;
background-color: #BE8C63;
}

.titleDiv img{
  width: 75px;
  height: 75px;
 margin:0 2%
}

.HomePage {
  background-color: #8fbdd3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2% 0;
  position:relative;
}

.HomePage h1{
  background-color: #8FBDD3;
}

.HomePage img {
  width: 20%;
  height: auto;
  margin: 2% 40% 0;
  z-index: 10;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #E4D1B9;
  margin: 0%;
  width:100%;

}


.homePageButtons1{
  display: flex;
  justify-content: space-between;
  margin: 0% 3%;
  width:94%;

  position:absolute;
  top:0;
  left:0;
  z-index: 2;
}


button {
  padding: 0.5vw 1vw;
  background-color: transparent;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.homePageButtons1 button {
  display: flex;
  width:125px;
  padding:0;
  background-color: transparent;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.homePageButtons1 a {

  display:flex;
  flex-direction: column;
  align-items:center;

  text-decoration: none;
  /* width:125px;
  height:125px;
  margin: 0 10%;
  padding:0; */
  font-size:2vw;
  color:black;
  font-family: "Reenie Beanie", cursive;
  /* text-align: center; */
}

.homePageButtons1 img {
  width: 125px;
  margin: 0 10%;
  padding:0;
}



.footer button {
  padding: 0.5vw 1vw;
  background-color: transparent;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 125px;
  margin-top:2%;
}

.footer a {
  text-decoration: none;
  font-size:2vw;
  color:black;
}

.addCityPage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
}

.addCityPage label {
  margin-right: 2%;
  text-align: left;
  font-size: 2vw;
}

.addCityPage input {
  width: 30vw;
  height: 2vw;
  margin: 1vw 0;
  font-size: 2vw;
}

.addCityPage select {
  width: 7%;
  height: 2vw;
  margin: 1vw 0;
  font-size: 1.8vw;
}

.addCityPage textarea {
  margin: 1vw 0;
  font-size: 2vw;
  width: 30vw;
}


.addCityPage button {
  padding: 0.5vw 1vw;
  width: 20%;
  margin: 2% 40%;
  background-color: #A97155;
}

.addCityPage button {
  padding: 0.5vw 1vw;
  width: 20%;
  margin: 2% 40%;
  background-color: #A97155;
}


.SignUpPage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
}

.SignUpPage input {
  width: 25%;
  height: 2vw;
  margin: 1vw 0;
  font-size: 2vw;
}

.SignUpPage label {
  margin-right: 2%;
  text-align: left;
  font-size: 2vw;
}

.SignUpPage button {
  margin-top: 2%;
}

.errorPage {
  display: flex;
  flex-direction: column;
}

.errorPage img {
  width: 50%;
  margin: 0 25%;
}

.pageTop {
  width: 80%;
  margin: 0 10% 2% 10%;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.pageTop label {
  margin: 0;
  font-size: 2vw;
}

.allCities {
  width: 100%;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.2vw;
}

.pageTop p{
  font-family: "Reenie Beanie", cursive;
  font-size: 12vw;
  margin: 0 0;
}

.pageTop input {
  width: 50%;
  margin: 2% 25%;
  height: 3vw;
  font-size: 2vw;
}

.oneCity {
  width: 20%;
  margin: 2vw;
  background-color: #BE8C63;
  border-radius: 10px;
  padding:1%;
  border: 0.5vw outset #A97155;
}

.oneCity a{
  text-decoration: none;
}

.oneCity p{
  font-size: 1vw;
}

.oneCity a:hover{
  color: #A97155;
}
.middleOfCityDetails {
  display: flex;
  width:100%;
}

.column{
  display: flex;
  flex-direction: column;
  width:100%;
}

.cityDetails {
  width: 90%;
  margin: 2% 5%;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}
.cityDetails h1{
  width:100%;
  margin:0;
}

.cityDetails h2, h3{
  margin-top: 2%;
}

.cityDetails button {
  padding: 0.5vw 1vw;
  width: 10%;
  margin: 2% 45%;
}

.googleMap {
  width: 100%;
  height: 40vw;
  margin: 2% 0%;
}

.userProfile {
  display: flex;
  width: 80%;
  margin: 2% 10%;
}

.userProfile img{
  width:70%;
  height:70%;
}

.userProfile p {
  font-size: 2vw;
}

.userProfile h1 {
  font-size: 3vw;
  background-color: transparent;
  text-shadow: -1px 0 #E4D1B9, 0 1px #E4D1B9, 1px 0 #A97155, 0 -1px #A97155;
}

.userH {
  font-size:10vw;
  margin:0;
  padding:0;
  text-shadow: -1px 0 #E4D1B9, 0 1px #E4D1B9, 1px 0 #A97155, 0 -1px #A97155;
}

.userProfileRight {
  display: flex;
  flex-direction: column;
  width:100%;
}

.cityList{
 background-color: #BE8C63;
 border-radius: 10px;
}

.cityList ul{
  font-size: 2vw;
}
.cityList li{
text-align: center;
  list-style-type: none;
}

.bottomBorder {
  width: 20%;
  margin:1% 40%;
  border-bottom:1px solid #A97155;

}

nav button {
  border: none;
  font-size: 2vw;
  border-radius: 10px;
  background-color: #E4D1B9;
  height: 75px;
}



@media (min-width: 993px) {
  .HomePage2 {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  body {
  }

  .HomePage {
    display: none;
  }

  .HomePage2 {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    background-color: #8fbdd3;
  }

  .HomePage2 img {
    width: 50%;
    margin: 5% 25%;
  }

  .homePageButtons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2% 5%;
  }


  .homePageButtons2 button {
    width: 25vw;
    height: 10vw;
    border-radius: 10px;
    background-color: #E4D1B9;
    font-family: "Reenie Beanie", cursive;
  }

  .homePageButtons2 a {
    text-decoration: none;
    font-size: 3vw;
    color:black;
    font-family: "Reenie Beanie", cursive;
  }

  nav button {
    border: none;
    font-size: 3vw;
    /* background-color: #E4DCCF; */
  }
  h3 {
    text-align: center;
    font-size: 3vw;
    margin: 0 0 5% 0;
  }
  
  .userProfile h1 {
    font-size: 6vw;
    background-color: transparent;
  } 

  .userProfile img{
    width:40%;
    height:40%;
  }

  .userProfile p {
    display: none;
  }

  .cityList ul{
    font-size: 5vw;
  }

  .rightSide {
    display: none;
      }

      .allCities {
        width:100%;
        margin:0;
        font-size: 4vw;
      }

      .googleMap {
        width: 90%;
        height: 80vw;
        margin: 2% 5%;
        border-radius:50%;
      }

      .cityDetails {
        width: 90%;
        margin: 2% 5%;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
      }

      .cityDetails h2, h3{
        margin-top: 3%;
      }

      .middleOfCityDetails {
        display: flex;
        flex-direction: column;
        width:100%;
      }
      

      .HomePage2 h3{
        font-family: "Reenie Beanie", cursive;
        font-size: 5vw;
      }

      .oneCity {
        width: 25%;
        margin: 1.5vw;
      }

      .oneCity h3{
        font-size: 5vw;
      }
      
      .oneCity p{
        font-size: 4vw;
      }

      .pageTop input {
        width: 70%;
        margin: 2% 15%;
        height: 5vw;
        font-size: 4vw;
      }

      .pageTop p{
        font-size: 15vw;
      }

      .pageTop label{
        font-size: 4vw;
      }

        .titleDiv img{
          width: 30px;
          height: 30px;
         
        }


}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    /* background-color: olive; */
  }

  nav {
    border: none;
  }

  nav h1 {
    font-size: 8vw;
  }

  nav img {
    width: 35px;
    height: 35px;
  }

  nav button {
    border: none;
    width: 15vw;
    height: 10vw;
  }

  .HomePage {
    display: none;
  }

  .HomePage2 {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    background-color: #8fbdd3;
  }

  .HomePage2 img {
    width: 50%;
    margin: 0 25%;
  }
  .HomePage2 h3{
    font-family: "Reenie Beanie", cursive;
    font-size: 11vw;
    margin: 2%;
  }

  .homePageButtons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2% 5%;
  }

  .homePageButtons2 button {
    width: 30vw;
    height: 15vw;
    border-radius: 10px;
    background-color: #E4D1B9;
    font-family: "Reenie Beanie", cursive;
  }

  .homePageButtons2 a {
    text-decoration: none;
    font-size: 5vw;
    color:black;
    font-family: "Reenie Beanie", cursive;
  }

  h3 {
    text-align: center;
  }

  .userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2% 10%;
  }
  
  .userProfile h1 {
    font-size: 10vw;
    background-color: transparent;
  }

  .userProfile img{
    width:40%;
    height:40%;
  }

  .userProfile p {
    display: none;
  }

  .cityList ul{
    font-size: 6vw;
  }

  .rightSide {
display: none;
  }

  .allCities {
    width:98%;
    margin:1%;
    font-size: 8vw;
  }

  .pageTop{
    font-size: 10vw;
    width: 100%;
    margin:0;
  }
  .pageTop p{
    font-size: 20vw;
  }

  .pageTop input {
    width: 80%;
    margin: 5% 10% 0 10%;
    height: 8vw;
    font-size: 6vw;
  }

  .pageTop label{
    font-size: 6vw;
  }

  .oneCity {

  width: 80%;
  margin: 10%;
  }

  .oneCity h3{
    font-size: 10vw;
  }
  
  .oneCity p{
    font-size: 7vw;
  }

  .googleMap {
    width: 90%;
    height: 100vw;
    margin: 2% 5%;
    border-radius:0;
  }

  .cityDetails{
    font-size: 6vw;
  }
  .cityDetails h2, h3{
    margin-top: 3%;
  }

  .middleOfCityDetails {
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .titleDiv img{
display: none;
   
  }

  .footer img{
width:50px;
height:50px;
  }

}
